@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e2e8f0;
  --foreground: #111827;
}

.dark {
  --background: #111827;
  --foreground: #e2e8f0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
